.contact {
	padding-bottom: 7.25rem;
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: 3.375rem;
}

.contact .title {
	font-size: 2.25rem;
	font-weight: 600;
}

.contact .subtitle {
	font-size: 1.25rem;
	font-weight: 500;
	margin-bottom: 3.25rem;
	margin-top: 2rem;
}

.contact form {
	max-width: 50.5rem;
}

.contact form .contact__input {
	margin-bottom: 1rem;
	position: relative;
	width: 100%;
}

.contact form .contact__input i {
	color: #7d7b7a;
	font-size: 1.625rem;
	position: absolute;
	right: 0px;
	top: 50%;
	transform: translateY(-50%);
}

.contact form input {
	background-color: transparent;
	border: none;
	border-bottom: 0.0625rem solid #131313;
	font-size: 0.875rem;
	outline: none;
	padding: 0.75rem 0px;
	padding-right: 2.25rem;
	width: 100%;
}

@media (min-width: 576px) {
	.contact {
		padding-left: 2rem;
		padding-right: 2rem;
	}

	.contact .subtitle {
		font-size: 1.5rem;
	}
}

@media (min-width: 768px) {
	.contact form .contact__input {
		margin-bottom: 0px;
		margin-right: 2.875rem;
		max-width: 16.375rem;
	}
}
