.our-story {
	background-image: url(../../../img/nossa-historia.png);
	background-position: center;
	background-size: cover;
	color: #fff;
	padding: 5rem 1rem;
}

.our-story .title {
	font-size: 3rem;
	font-weight: 600;
}

.our-story p {
	font-size: 1rem;
	font-weight: 500;
	line-height: 1.75rem;
	margin-bottom: 2.75rem;
	margin-top: 4.5rem;
}

.our-story p br {
	display: none;
}

@media (min-width: 576px) {
	.our-story p br {
		display: block;
	}
}

@media (min-width: 768px) {
	.our-story {
		padding-bottom: 10rem;
		padding-top: 10rem;
	}

	.our-story .title {
		font-size: 5.5rem;
	}

	.our-story p {
		font-size: 1.375rem;
	}
}
