.quality {
	background-image: url(../../../img/index/qualidade.png);
	background-size: cover;
	background-position: bottom center;
	min-height: 38rem;
	padding-left: 4rem;
	padding-top: 3.375rem;
}

.quality .title {
	display: inline-block;
	font-size: 2.5rem;
	line-height: 3rem;
	font-weight: 500;
	text-align: left;
	text-transform: none;
}

.quality .title strong {
	font-weight: 600;
}

.quality .title::after {
	background-color: #0b0b09;
	border-radius: 0.3125rem;
	content: "";
	display: block;
	height: 0.5rem;
	margin-top: 0.75rem;
	width: 100%;
}

@media (min-width: 768px) {
	.quality {
		min-height: none;
	}
}

@media (min-width: 992px) {
	.quality .title {
		font-size: 3rem;
		line-height: 3.4375rem;
	}
}

@media (min-width: 1200px) {
	.quality {
		padding-left: 10.125rem;
	}
}
