.recipes .swiper-container {
	height: 34.625rem;
}

.recipes .swiper-slide {
	justify-content: flex-end;
	padding-bottom: 5.75rem;
	position: relative;
}

.recipes .swiper-container-horizontal > .swiper-pagination-bullets {
	bottom: 2.75rem;
}

.recipes {
	color: #fff;
}

.recipes .recipes-header {
	font-size: 0.375rem;
	left: 50%;
	position: absolute;
	top: 2.5rem;
	transform: translateX(-50%);
	width: 100%;
	z-index: 10;
}

.recipes .title {
	font-size: 5.5em;
}

.recipes .subtitle {
	font-size: 2.75em;
	font-weight: 500;
	letter-spacing: 0.125rem;
}

.recipes .recipes__title {
	font-size: 1.25rem;
	margin-bottom: 2.25rem;
	text-align: center;
	text-transform: uppercase;
	padding: 0px 0.875rem;
}

.recipes picture {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	z-index: -1;
}

.recipes picture img {
	height: 100%;
	object-fit: cover;
	object-position: center;
	width: 100%;
}

.recipes .container {
	height: 2.75rem;
	left: 50%;
	max-width: 64rem;
	position: relative;
	top: -50%;
	transform: translate(-50%, -50%);
	z-index: 15;
}

@media (min-width: 576px) {
	.recipes .recipes-header {
		font-size: 0.625rem;
	}
}

@media (min-width: 992px) {
	.recipes .recipes-header {
		font-size: 1rem;
	}
}
