@font-face {
	font-family: "Goldplay";
	src: url(../font/Goldplay/Goldplay-Regular.otf) format("opentype");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Goldplay";
	src: url(../font/Goldplay/Goldplay-Medium.otf) format("opentype");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "Goldplay";
	src: url(../font/Goldplay/Goldplay-SemiBold.otf) format("opentype");
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: "Goldplay";
	src: url(../font/Goldplay/Goldplay-Bold.otf) format("opentype");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "GoldplayAlt";
	src: url(../font/Goldplay-Alt/GoldplayAlt-Regular.otf) format("opentype");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "GoldplayAlt";
	src: url(../font/Goldplay-Alt/GoldplayAlt-Medium.otf) format("opentype");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "GoldplayAlt";
	src: url(../font/Goldplay-Alt/GoldplayAlt-SemiBold.otf) format("opentype");
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: "GoldplayAlt";
	src: url(../font/Goldplay-Alt/GoldplayAlt-Bold.otf) format("opentype");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "UT Saturday";
	src: url(../font/UT-Saturday/UT-Saturday-Light.otf) format("opentype");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "UT Saturday";
	src: url(../font/UT-Saturday/UT-Saturday-Regular.otf) format("opentype");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "UT Saturday";
	src: url(../font/UT-Saturday/UT-Saturday-Bold.otf) format("opentype");
	font-weight: 700;
	font-style: normal;
}

.font-1 {
	font-family: "Goldplay", sans-serif;
}

.font-2 {
	font-family: "UT Saturday", sans-serif;
}
