main {
	padding-top: 2.25rem;
}

main .arrow-back {
	position: relative;
	z-index: 10;
}

.product .product__image {
	height: auto;
	left: 50%;
	max-width: 100%;
	position: relative;
	transform: translate(-42%, 10%);
	width: 40rem;
	z-index: 1;
}

.product .title,
.product .subtitle {
	position: relative;
	z-index: 5;
}

.product .subtitle {
	color: #5a5959;
	font-weight: 600;
	margin-bottom: 4.625rem;
	margin-top: 2.125rem;
	max-width: 26.75rem;
}

.product .info__title {
	font-size: 0.9375rem;
	font-weight: 700;
	margin-bottom: 1.125rem;
}

.product .info__icon {
	color: #808080;
	font-size: 1.5rem;
	margin-bottom: 7rem;
}

.product .info {
	background-color: #ebebeb;
	font-size: 0.875rem;
	margin-bottom: 2.25rem;
	padding: 1rem;
}

.product .info .title {
	font-size: 2.125rem;
	text-align: left;
}

.product .info .subtitle {
	margin-bottom: 0.25rem;
	margin-top: 0.625rem;
	max-width: none;
	text-align: left;
}

.product .info .ingredients .subtitle {
	max-width: 23.75rem;
}

.product .info .info__table {
	color: #5a5959;
	font-weight: 600;
	margin-top: 0.5rem;
}

.product .info .info__table .row {
	border: 0.0625rem solid #808080;
	padding: 0.625rem 0.25rem;
	margin-bottom: 0.75rem;
	white-space: nowrap;
}

@media (min-width: 576px) {
	.product {
		margin-top: -4rem;
	}

	.product .subtitle {
		font-size: 1.75rem;
		line-height: 2.5rem;
	}

	.product .info {
		font-size: 1rem;
		padding: 2.5rem;
	}

	.product .info .info__table .row {
		padding: 0.625rem;
	}
}

@media (min-width: 768px) {
	.product {
		background-image: url(../img/produtos/produto.png);
		background-position: -10rem 6.25rem;
		background-repeat: no-repeat;
	}
}

@media (min-width: 992px) {
	.product .info .info__table {
		padding-right: 1.5rem;
	}

	.product .info .ingredients {
		border-left: 0.125rem solid #808080;
		height: 100%;
		padding-left: 1.5rem;
	}
}

@media (min-width: 1200px) {
	.product .info {
		padding: 3.25rem 6.25rem;
	}

	.product .info .info__table {
		padding-right: 4rem;
	}

	.product .info .ingredients {
		padding-left: 4rem;
	}
}
