main {
	padding-top: 1.875rem;
}

.products {
	margin: 2.75rem 0px;
}

.products .products__col {
	align-items: center;
	border: 0.0625rem solid rgba(0, 0, 0, 0.25);
	display: flex;
	flex-direction: column;
	height: 28.375rem;
	justify-content: space-between;
	padding-bottom: 1.75rem;
	padding-top: 2.875rem;
	position: relative;
}

.products img {
	left: 50%;
	max-width: 80%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: -1;
}

.products .product__title {
	font-size: 1.125rem;
	font-weight: 700;
	margin: 0px;
	text-align: center;
	text-transform: uppercase;
}

.products .button {
	background-color: #808080;
}

.products .button:hover {
	background-color: #606060;
}

#prato {
	top: 60%;
}

#provolone {
	top: 68%;
	left: 60%;
}

#parmesao,
#montanhes,
#minas {
	left: 65%;
	transform: translate(-50%, -30%);
}

#requeijao,
#manteiga {
	left: 65%;
	transform: translate(-50%, -25%);
}
