.banner {
	height: 50vw;
	padding-left: 0.875rem;
	padding-right: 0.875rem;
	padding-bottom: 8vw;
}

.banner .banner__background {
	height: 100%;
	left: 0;
	object-fit: cover;
	object-position: center bottom;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -1;
}

@media (min-width: 768px) {
	.banner {
		padding-left: 0px;
		padding-right: 0px;
	}
}

@media (min-width: 992px) {
	.banner {
		height: 39.5rem;
		padding-bottom: 5rem;
	}
}
