.banner {
	height: 50vw;
}

.banner .banner__background {
	height: 100%;
	left: 0;
	object-fit: cover;
	object-position: center bottom;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -1;
}

@media (min-width: 992px) {
	.banner {
		height: 39.5rem;
	}
}
