.products {
	background-color: #d3d3d3;
	padding-bottom: 1.75rem;
	padding-top: 3.5rem;
}

.products .container {
	margin-left: 0px;
	margin-right: 0px;
	max-width: none;
	padding: 0px;
	width: 100%;
}

.products .title {
	margin-bottom: 0.875rem;
}

.products .swiper-container {
	height: 29.875rem;
}

.products picture {
	max-width: 80%;
}

.products img {
	height: 23.125rem;
	object-fit: contain;
}

.products .product__title {
	font-size: 1.125rem;
	font-weight: 600;
	margin-bottom: 0.75rem;
	padding: 0px 0.875rem;
	text-align: center;
	text-transform: uppercase;
}

@media (min-width: 768px) {
	.products .container {
		margin-left: auto;
		max-width: 38.75rem;
	}
}

@media (min-width: 992px) {
	.products {
		padding-left: 1.5rem;
		padding-right: 1.5rem;
	}
}
