.social-nav {
	list-style: none;
	margin-bottom: 0px;
	padding: 0px;
}

.social-nav,
.social-nav li {
	display: flex;
}

.social-nav li a {
	align-items: center;
	border: 0.125rem solid currentColor;
	border-radius: 50%;
	display: flex;
	color: inherit;
	font-size: 1.625rem;
	height: 2.875rem;
	justify-content: center;
	margin: 0px 0.375rem;
	text-decoration: none;
	width: 2.875rem;
}

.social-nav li a svg {
	height: 1.625rem;
	width: 1.625rem;
}

.social-nav li a svg path {
	fill: currentColor;
}

@media (min-width: 576px) {
	.social-nav li a {
		margin: 0px 0.625rem;
	}
}
